spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 8c50ce9981d4477612d58e46f06c793f
            client-secret: h6Zqv312zA5NLXlamJn60r0imqezZiOA
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: POST
            client-name: Kakao
            scope:
              - profile_nickname
              - profile_image
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id